﻿
<section class="form-fields">
    <fieldset>
        @using (@Html.BeginForm("Local", "Ventas", FormMethod.Post, new { name = "Info" }))
        {
            @Html.Hidden("descarga", "")
            @Html.Hidden("sucursales", "")
            <div class="fld-row">

                <div class="fld  col-md-2"> 
                    @Html.DropDownList("anio", (List<SelectListItem>)ViewBag.anio, new { @class = "chosen-select" , placeholder="Seleccionar Año", @default="2018"})
                </div>
                <div class="fld  col-md-2"> 
                    @Html.DropDownList("mes", (List<SelectListItem>)ViewBag.meses, new { @class = "chosen-select", placeholder = "Seleccionar Mes", @default="07" })
                </div>
                <div class="fld  col-md-4"> 
                    @Html.DropDownList("sucursales_list", (List<SelectListItem>)ViewBag.sucursales, new { @class= "chosen-select-multiple",  multiple = "multiple", resumeto="#sucursales" }) 
                </div>

                <div class="fld col-md-4">
                    <input type="button" name="clear" value="Limpiar Datos" class="form_clear" data-form="Info" data-response="#form_response" />
                    <input type="button" name="submit" value="Generar Reporte" class="form_submit" data-form="Info" data-response="#form_response" />
                    <input type="button" name="export" value="Exportar Resultados" class="form_export" data-form="Info" />
                    <input type="button" name="fullscreen" value="Fullscreen" class="toggle_fullscreen" />                    
                    <input type="submit" name="enviar" value="Enviar" class="form_enviar" style="display:none;" />
                </div>

                 
            </div>
        }

    </fieldset>
</section>
<section class="response_wrap_container">
    <div class="response_container">
        <div id="form_response"  ></div>
    </div>
</section>
