﻿@model IEnumerable<Dictionary<string,string>>

@if (Model.Count() == 0)
{
    <div class=""> No hay resultados disponibles.</div>
}
else
{

    var titulos = Model.First();
    var datos = Model.Skip(1).ToList();

    var totales = datos.Last();
    var total = totales.Where(w => w.Key.Contains("TOTALES"));


    var tiendas = titulos.Where(w => w.Key.Contains("_")).Select(n => n.Value.Split('_')[0]).Distinct();
    var anios = titulos.Where(w => w.Key.Contains("_") && !w.Key.Contains("VAR")).Select(n => n.Key.Split('_')[1]).Distinct();
    int tr_par = 1, td_par = 1;
    var useclass = "";


    <table border="1" class="table-resumida">

            <tr class="btn-info">
                <th align="center" colspan="1">  <p>D&iacute;a </p> </th>
                @foreach (var tienda in tiendas)
                {
                        <th align="center"  > <p>  @Html.Raw(tienda) </p> </th>
                }
            </tr>


            @foreach (var row in datos)
            {
                if (row.Count() > 1)
                {

                    useclass = (tr_par++ % 2 == 0 ? "par" : "impar");
                    int _dia = 0;
                    int.TryParse(row["dia"], out _dia);
                    if ( _dia < 1 ||  _dia > 31)
                    {
                        useclass = useclass + " totales";
                    }

                    <tr @Html.Raw("class='" + useclass + "'")>

                        <td align="right">  @Html.Raw(string.IsNullOrEmpty(row["dia"]) ? "TOTALES"  : row["dia"] ) </td>
                        @{ td_par = 1;}
                        @foreach (var tienda in tiendas)
                        {
                            var tActual = "";
                            useclass = "";

                            if (tienda.Equals("TOTALES") || tienda.Equals("ACUMULADO"))
                            {
                                useclass = "col_" + tienda.ToLower();
                            }
                            else
                            {
                                if (_dia >= 1 && _dia <= 31)
                                {
                                    useclass = "col_" + td_par.ToString() + " " + (td_par++ % 2 == 0 ? "par" : "impar");
                                }
                            }

                            try
                            {
                                tActual = row[tienda + "_" + anios.Skip(1).First()];
                            }
                            catch (Exception e)
                            {
                            }



                            <td align="right" @Html.Raw("class='Number " + useclass + "'")>  @Html.Raw(tActual) </td>

                        }
                    </tr>

                }
            }


    </table>
}

