﻿@model IEnumerable<Dictionary<string,string>>

@if (Model.Count() == 0)
{
    <div class=""> No hay resultados disponibles.</div>
}
else
{

    var titulos = Model.First();
    var datos = Model.Skip(1).ToList();

    var totales = datos.Last();
    var total = totales.Where(w => w.Key.Contains("TOTALES"));


    var tiendas = titulos.Where(w => w.Key.Contains("_")).Select(n => n.Value.Split('_')[0]).Distinct();
    var anios = titulos.Where(w => w.Key.Contains("_") && !w.Key.Contains("VAR")).Select(n => n.Key.Split('_')[1]).Distinct();
    int tr_par = 1, td_par = 1;
    var useclass = "";


    <table border="1" class="table-resumida">

            <tr>
                <th align="center" colspan="1">   </th>
                @foreach (var tienda in tiendas)
                {
                    if (tienda.Equals("TOTALES") || tienda.Equals("ACUMULADO"))
                    {
                        useclass = "vacio";
                        <th align="center" colspan="4" @Html.Raw("class='" + useclass + "'")>  @Html.Raw(tienda) </th>
                    }
                    else
                    {
                        useclass = "col_" + td_par.ToString() + " " + (td_par++ % 2 == 0 ? "par" : "impar");
                        <th align="center" colspan="3" @Html.Raw("class='" + useclass + "'")>  @Html.Raw(tienda) </th>
                    }

                }
            </tr>

            <tr class="btn-info">
                    @foreach (var col in titulos)
                    {
                        if (!col.Value.Contains("_ACUM") || col.Value.Contains("TOTALES") || col.Value.Contains("ACUMULADO"))
                        {
                            if (!col.Value.EndsWith("VAR") || (col.Value.EndsWith("VAR") && (col.Value.Contains("TOTALES") || col.Value.Contains("ACUMULADO"))))
                            {
                                if (col.Value.Contains("_"))
                                {
                                    <th align="center"> <p> @Html.Raw(col.Value.Split('_')[1]) </p> </th>
                                }
                                else
                                {
                                    <th align="center">  <p> @Html.Raw(col.Value) </p> </th>
                                }
                            }
                        }
                    }
            </tr>



            @foreach (var row in datos)
            {
                if (row.Count() > 2)
                {

                    useclass = (tr_par++ % 2 == 0 ? "par" : "impar");
                    int _dia = 0;
                    int.TryParse(row["dia"], out _dia);
                    if ( _dia < 1 ||  _dia > 31)
                    {
                        useclass = useclass + " totales";
                    }

                    <tr @Html.Raw("class='" + useclass + "'")>
                        @*<td align="right">  @Html.Raw(row["mes"]) </td>*@
                        <td align="right">  @Html.Raw(string.IsNullOrEmpty(row["dia"]) ? "TOTALES"  : row["dia"] ) </td>
                        @{ td_par = 1;}
                        @foreach (var tienda in tiendas)
                        {
                            var tActual = "";
                            var tAnterior = "";
                            var tVariacion = "";
                            var tVariacionP = "";

                            if (tienda.Equals("TOTALES") || tienda.Equals("ACUMULADO"))
                            {
                                useclass = "col_" + tienda.ToLower();
                            }
                            else
                            {
                                useclass = "col_" + td_par.ToString() + " " + (td_par++ % 2 == 0 ? "par" : "impar");
                            }

                            try
                            {
                                tActual = row[tienda + "_" + anios.First()];
                            }
                            catch (Exception e)
                            {
                            }

                            try
                            {
                                tAnterior = row[tienda + "_" + anios.Skip(1).First()];
                            }
                            catch (Exception e)
                            {
                            }

                            try
                            {
                                tVariacion = row[tienda + "_VAR"];
                            }
                            catch (Exception e)
                            {
                            }
                            try
                            {
                                tVariacionP = row[tienda + "_VARP"];
                            }
                            catch (Exception e)
                            {
                            }

                            <td align="right" @Html.Raw("class='Number " + useclass + "'")>  @Html.Raw(tActual) </td>
                            <td align="right" @Html.Raw("class='Number " + useclass + "'")>  @Html.Raw(tAnterior) </td>
                            if (tienda.Equals("TOTALES") || tienda.Equals("ACUMULADO"))
                            {
                            <td align="right" @Html.Raw("class='Number " + useclass + "'")>  @Html.Raw(tVariacion) </td>
                            }
                            <td align="right" @Html.Raw("class='Percent " + useclass + "'")>  @Html.Raw(tVariacionP) </td>
                        }
                    </tr>

                }
            }

        <tr class="totales">
            <td> % </td>
            @{
                double t0 = 0, t1 = 0;
                double.TryParse(totales["TOTALES_" + anios.First()], out t0);
                double.TryParse(totales["TOTALES_" + anios.Skip(1).First()], out t1);

            }
            @foreach (var tienda in tiendas.Where( w => !w.Contains("TOTALES") && ! w.Contains("ACUMULADO")))
            {
                double p0=0, p1=0;
                double.TryParse(totales[tienda + '_' + anios.First()], out p0);
                double.TryParse(totales[tienda + '_' + anios.Skip(1).First()], out p1);

                <td class="Percent">@Html.Raw(string.Format("{0:0.00}", (t0 == 0 ? 0 : p0 / t0 * 100)) )</td>
                <td class="Percent">@Html.Raw(string.Format("{0:0.00}", (t1 == 0 ? 0 : p1 / t1 * 100)) )</td>
                <td></td>
            }
            <td></td>
            <td></td>
            <td></td>
            <td></td>

            <td></td>
            <td></td>
            <td></td>
            <td></td>


        </tr>
    </table>
}

