﻿@using WebReportes.Models

@model LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

} 


<section id = "loginForm" >
    @using (Html.BeginForm("Login", "Account", new
    {
        ReturnUrl = ViewBag.ReturnUrl
    }, FormMethod.Post, new
    {
        @class = "form-horizontal",
        role = "form"
    }))
    {
        @Html.AntiForgeryToken() 
        <h4> Ingrése sus credenciales para iniciar sesión. </h4> 
        <hr />

        @Html.ValidationSummary(true, "", new {   @class = "text-danger"  }) 
        <div class = "form-group" >
                @Html.LabelFor(m => m.Username, new
                {
                    @class = "control-label"
                }) 
            <div class = "" >
                @Html.TextBoxFor(m => m.Username, new
                {
                    @class = "form-control"
                })
                @Html.ValidationMessageFor(m => m.Username, "", new
                {
                    @class = "text-danger"
                }) 
            </div> 
        </div> 
    
        <div class = "form-group" >
            @Html.LabelFor(m => m.Password, new {@class = "control-label" }) 
            <div class = "" >
                @Html.PasswordFor(m => m.Password, new
                {
                @class = "form-control"
                })
                @Html.ValidationMessageFor(m => m.Password, "", new
                {
                @class = "text-danger"
                }) 
            </div> 
        </div> 
        <div class = "form-group" >
            <div class = "col-md-offset-2 col-md-10" >
                <input type = "submit"    value = "Iniciar sesión"    class = "btn btn-default" />
            </div> 
        </div>
    } 
</section> 


@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
  