﻿@using WebReportes.Helpers;


<section class="response_wrap_container">
    <div class="response_container">
        <div id="form_response">
            <div class="table-container">
                <div class="table_with-resumen" style="max-width: 1826px; padding:32px;">
                    <table class="table-resumida" border="1">
                        <tbody>

                            <tr class="par">

                                <td align="right">  Cuenta </td>
                                <td align="right">  @User_Helper.UserName() </td>
                            </tr>

                            <tr class="impar">

                                <td align="right">  Cuenta F </td>
                                <td align="right">  @User_Helper.FlexUserName() </td>
                            </tr>

                            <tr class="par">

                                <td align="right">  Nombre </td>
                                <td align="right">  @User_Helper.FullName().ToHtmlString() </td>
                            </tr>

                            <tr class="impar">

                                <td align="right">  Roles </td>
                                <td align="right">  @User_Helper.UserRoles().ToHtmlString() </td>
                            </tr>

                            <tr class="par">

                                <td align="right">  Empresa </td>
                                <td align="right">  @User_Helper.ECommerce() </td>
                            </tr>
                            

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

                @*
                    <div id="form_response">
                        <div class="table-container">
                            <div class="table_with-resumen" style="max-width: 1826px; padding:32px;">
                                <table class="table-resumida" border="1">
                                    <tbody>

                                        <tr>
                                            <th align="center">  Campo </th>
                                            <th align="center">  Valor </th>
                                        </tr>
                                        @foreach (KeyValuePair<string, string> row in ViewBag.info)
                                        {
                                            <tr>

                                                <td align="center">  @Html.Raw(row.Key) </td>
                                                <td align="center">  @Html.Raw(row.Value) </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                *@


    </div>
</section>

