﻿
<section class="form-fields">
    <fieldset>
        @using (@Html.BeginForm("VentasVendedor", "Rrhh", FormMethod.Post, new { name = "Info" }))
        {
            @Html.Hidden("descarga", "")
            <div class="fld-row">

                <div class="fld  col-md-2">
                    @Html.Label("vendedor", "Vendedor: ")
                    @Html.TextBox("vendedor", null, new {  @default = "" , @class = "complete_vendedor"})
                </div>
                <div class="fld  col-md-2">
                    @Html.Label("fechaInicio", "Desde: ")
                    @Html.TextBox("fechaInicio", null, new {  @default = "" , @class = "date_control" })
                </div>
                <div class="fld  col-md-4">
                    @Html.Label("fechaFinal", "Hasta: ")
                    @Html.TextBox("fechaFinal", null, new { @default = "", @class = "date_control"  })
                </div>

                <div class="fld col-md-4">
                    <input type="button" name="clear" value="Limpiar Datos" class="form_clear" data-form="Info" data-response="#form_response" />
                    <input type="button" name="submit" value="Generar Reporte" class="form_submit" data-form="Info" data-response="#form_response" />
                    <input type="button" name="export" value="Exportar Resultados" class="form_export" data-form="Info" />
                    <input type="button" name="fullscreen" value="Fullscreen" class="toggle_fullscreen" />
                    <input type="submit" name="enviar" value="Enviar" class="form_enviar" style="display:none;" />
                </div>


            </div>        
        }

    </fieldset>
</section>
<section class="response_wrap_container">
    <div class="response_container">
        <div id="form_response"></div>
    </div>
</section>
