﻿@model IEnumerable<Dictionary<string, string>>


@if (Model.Count() > 0)
{
    int tr_par = 1, td_par = 1;
    var useclass = "";


    <table border="1" class="table-resumida">

        <tr class="btn-info">
            <th align="center">  <p>Local</p> </th>
            <th align="center">  <p>Venta Año Anterior</p> </th>
            <th align="center">  <p>Ventas del Mes </p></th>
            <th align="center">  <p>Variacion</p></th>
        </tr>

        @foreach (var row in Model)
        {
            useclass = (tr_par++ % 2 == 0 ? "par" : "impar");
            double t0 = 0;
            double.TryParse(row["Variacion"], out t0);

            <tr @Html.Raw("class='" + useclass + "'")>
                <td  align="left"> @Html.Raw(row["Local"]) </td>
                <td class="Number" align="right"> @Html.Raw(row["TotalAnterior"]) </td>
                <td class="Number" align="right"> @Html.Raw(row["TotalActual"]) </td>
                <td class="Percent" align="right"> @Html.Raw(string.Format("{0:0.00}", t0)) </td>

            </tr>
        }

    </table>

}
else
{
    <div class=""> No hay resultados disponibles.</div>
}
