﻿@using WebReportes.Helpers
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Reportes Microplay ::  @ViewBag.Title</title>
    @Styles.Render("~/Content/css") 
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>

    <div class="container body-content">
        <h3>  @Html.Raw(ViewBag.Title) </h3>
        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/jquery") 
    @Scripts.Render("~/bundles/bootstrap") 
    @Scripts.Render("~/bundles/comseg")
    @RenderSection("scripts", required: false)
    <script>
        var app_current_uri = '@User_Helper.CurrentUri()' ;
    </script>
</body>

</html> 