﻿@using WebReportes.Helpers
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Reportes Microplay ::  @ViewBag.Title</title>
    @Styles.Render("~/Content/css") 
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="restore-fullscreen"> <input type="button" name="fullscreen" value="Normal" class="toggle_fullscreen" /> </div>

    <header>
        <div class="container">
            @Html.ActionLink("Microplay", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })


            

            @if (Request.IsAuthenticated)
            {
                <div class="ECommerce">  @User_Helper.Select_ECommerce( "/account/eccomerce/" )   </div>


                <div class="navbar-in-header navbar-default">
                    <ul class="nav navbar-nav">

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <img class="icon-user" src="/Content/usuario.png" />
                                <p>@User_Helper.FullName().ToHtmlString()</p>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Perfil", "Account" , new { Area="" })"> Ver cuenta </a></li>
                                <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>                            </ul>
                        </li>
                    </ul>
                </div>
            }
        </div>
     </header>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <h3>  @User_Helper.ECommerceName() :   @Html.Raw(ViewBag.Title) </h3>
        @RenderBody()
    </div>
    <footer>
        <center>
            <p><strong>Copyright © @DateTime.Now.Year - <a href="http://www.microplay.cl/">Microplay.cl</a>.</strong> All rights reserved.</p>
        </center>
    </footer>


    @Scripts.Render("~/bundles/jquery") 
    @Scripts.Render("~/bundles/bootstrap") 
    @Scripts.Render("~/bundles/comseg")
    @RenderSection("scripts", required: false)
    <script>
        var app_current_uri = '@User_Helper.CurrentUri()' ;
    </script>
</body>

</html> 