﻿@using WebReportes.Helpers

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = ""}, FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
    }

    if (ViewBag.Menu != null)
    {
        var DataMenu = (IEnumerable<Dictionary<string, string>>)ViewBag.Menu;
        var grupos = DataMenu.GroupBy(g => g["FAMILIA"]).ToList();
        <ul class="nav navbar-nav">
            @foreach (var grupo in grupos)
            {
                string key = grupo.Key;
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <p class="icon-carpeta"> @Html.Raw(key)</p>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">


                        @foreach (var row in grupo.ToList())
                        {
                            string detalle = row["DETALLE"];
                            string url = row["URL"] ?? "";

                            <li><a href="@Html.Raw(url)">@Html.Raw(detalle) </a></li>

                        }
                    </ul>
                </li>


            }
        </ul>
    }

    


                    <ul class="nav navbar-nav navbar-right navbar-user-menu">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img class="icon-user" src="/Content/usuario.png" />
                                @User_Helper.FullName().ToHtmlString()
                                <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Perfil", "Account" , new { Area = "" })"> Ver cuenta </a></li>
                                <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
                            </ul>


                        </li>

                    </ul>

                    }
