﻿@using WebReportes.Helpers
@model IEnumerable<Dictionary<string, string>>

@if (Model.Count() > 1)
{
    var datos = Model.ToList();
    int tr_par = 1;
    var useclass = "";
    var old_local = "";

    <table border="1" class="table-resumida">

        <tr>
            <th align="center">  Local </th>
            <th align="center">  Tipo Documento </th>
            <th align="center">  Numero Documento </th>
            <th align="center">  Monto </th>
            <th align="center">  Fecha </th>
            <th align="center">  Tipo Pago </th>
            <th align="center">  Dcto Pago  </th>
            <th align="center">  Razon Social </th>
        </tr>

        @foreach (var row in datos)
        {
            if (row.Count() > 1)
            {
                useclass = (tr_par++ % 2 == 0 ? "par" : "impar");

                <tr @Html.Raw("class='" + useclass + "'")>
                    <td align="right" @Html.Raw("class='" + useclass + "'")>  TOTALES @Html.Raw(row["Local"])</td>
                    <td align="right" @Html.Raw("class='" + useclass + "'")>  @Html.Raw(row["TipoDocto"]) </td>
                    <td align="left" @Html.Raw("class='" + useclass + "'")>   @User_Helper.Documento(row["TipoDocto"], row["Numero"])   </td>
                    <td align="right" @Html.Raw("class='Number " + useclass + "'")>  @Html.Raw(row["Monto"]) </td>
                    <td align="right" @Html.Raw("class='" + useclass + "'")>  @Html.Raw(row["Fecha"]) </td>
                    <td align="right" @Html.Raw("class='" + useclass + "'")>  @Html.Raw(row["CodigoPago"]) </td>
                    <td align="right" @Html.Raw("class='" + useclass + "'")>  @Html.Raw(row["NroDoctoPago"]) </td>
                    <td align="right" @Html.Raw("class='" + useclass + "'")>  @Html.Raw(row["RazonSocial"]) </td>
                </tr>

            }
        }
    </table>
}
else
{
    <div class=""> No hay resultados disponibles.</div>
}
