﻿@{ var col = ViewBag.Documento; }
<style type="text/css">
    .row {
        margin:32px 0;
    }
        .row > div > table {
            width:100%;
        }


    .body-content {
        padding:20px;
    }
    h1 {
        font-size:16px;
    }

        h1 b {
            color: #015aaa;
        }

</style>



<div class="container-fluid">

    <h1> Documento : <b>@Html.Raw(col["TipoDocto"])</b> / <b>@Html.Raw(col["Numero"])</b> </h1>

    <div class="row">
        <div class="col-sm-1">
        </div>

            <div class="col-sm-4">
                <table border="1" class="table-resumida">
                    <tr>
                        <th> Tipo Documento </th>
                        <td> @Html.Raw(col["TipoDocto"]) </td>
                    </tr>
                    <tr>
                        <th> Numero </th>
                        <td> @Html.Raw(col["Numero"]) </td>
                    </tr>
                    <tr>
                        <th> Correlativo </th>
                        <td> @Html.Raw(col["Correlativo"]) </td>
                    </tr>
                    <tr>
                        <th> Fecha </th>
                        <td> @Html.Raw(col["Fecha"]) </td>
                    </tr>
                    <tr>
                        <th> Local </th>
                        <td> @Html.Raw(col["Local"]) </td>
                    </tr>
                    <tr>
                        <th> Bodega </th>
                        <td> @Html.Raw(col["Bodega"]) </td>
                    </tr>
                    <tr>
                        <th> Vendedor </th>
                        <th> @Html.Raw(col["Vendedor"]) </th>
                    </tr>
                </table>
            </div>

            <div class="col-sm-1">
            </div>

            <div class="col-sm-4">
                <table border="1" class="table-resumida">
                    <tr>
                        <th> Vigencia </th>
                        <td> @Html.Raw(col["Vigencia"]) </td>
                    </tr>
                    <tr>
                        <th> Emitido </th>
                        <td> @Html.Raw(col["Emitido"]) </td>
                    </tr>
                    <tr>
                        <th> Total </th>
                        <td class="Number"> @Html.Raw(col["Total"]) </td>
                    </tr>
                </table>
            </div>
        </div>

    <div class="row">
        <div class="col-sm-1">
        </div>

        <div class="col-sm-10" >
            <table border="1" class="table-resumida">

                <tr>
                    <th colspan="3"> Pagos </th>
                </tr>

                <tr>
                    <th> Código Pago </th>
                    <th> Nro Docto Pago </th>
                    <th> Monto Ingreso </th>
                </tr>

                @foreach (var row in ViewBag.Pago)
                {
                    <tr>
                        <td> @Html.Raw(row["CodigoPago"]) </td>
                        <td> @Html.Raw(row["NroDoctoPago"]) </td>
                        <td align="right" class="Number"> @Html.Raw(row["MontoIngreso"]) </td>
                    </tr>
                }
            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-1">
        </div>


        <div class="col-sm-10" >
            <table border="1" class="table-resumida">

                <tr>
                    <th colspan="5"> Productos </th>
                </tr>

                <tr>
                    <th> Codigo Producto </th>
                    <th> Glosa </th>
                    <th> Cantidad </th>
                    <th> Precio </th>
                    <th> Monto </th>
                </tr>

                @foreach (var row in ViewBag.Detalle)
                {
                    <tr>
                        <td> @Html.Raw(row["Producto"]) </td>
                        <td> @Html.Raw(row["Glosa"]) </td>
                        <td> @Html.Raw(row["Cantidad"]) </td>
                        <td align="right" class="Number"> @Html.Raw(row["Precio"]) </td>
                        <td align="right" class="Number"> @Html.Raw(row["Monto"]) </td>
                    </tr>
                }
            </table>

        </div>
    </div>






