﻿/**/
body {
    background-color: #f0f2f7;
    color: #868ba1;
    padding-bottom:0;
}

h1, h2, h3 {
    margin: 0;
    border-left: 8px solid #015aaa;
    color: #343a40;
    padding-left: 16px;
    margin-left:4px;
    text-transform: uppercase;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
    line-height: 24px;
}

h3 {
    font-size: 18px;
    text-transform: none;
}

select {
    width:100%;
}


table {
    /*border: 0 none;*/
}

th {
    text-align: center;
}

td, th {
    /*border: 0 none;*/
}

header {
    position: fixed;
    top: 0;
    display: block;
    height: 40px;
    width: 100%;
    background-color: #fff;
    z-index: 2030;
}

footer {
    display:inline-block;
    width:100%;
}

.navbar {
    box-shadow: 0px 6px 10px rgba(0,0,0,0.3);
}

.navbar-fixed-top {
    top: 40px;
}

.navbar-in-header {
    float:right;
}

.navbar p ,
.navbar-in-header p {
    margin: 0 8px;
    display:inline-block ; 
}

.navbar-in-header a.dropdown-toggle {
    padding:0 15px;
    height:40px;
    line-height:40px;
    background-color:#fff;
}

.navbar-user-menu {
    display:none;
}

input[type=button] {
    border: #1b84e7;
    background-color: #1b84e7;
    padding: 8px 16px;
    color: #fff;
    /*width:100%;*/
}

.body-content {
    padding: 16px;
    padding-top:121px;
    padding-bottom:69px;
    max-width:100%;
}

.body-content section {
    margin: 8px 0 0;
    border: 1px solid #ddd;
    padding: 0 8px;
    display: inline-block;
    width: 100%;
}

section {
    background-color: #FFF;
}

/* Footer */
footer {
    background-color: #dee2e6;
    border-top: 1px solid #ced4da;
    color: #ced4da;
}

footer p {
    margin: 14px 0;
    color: #868ba1;
}




/**/

section.form-fields {
    padding:4px 16px 0;
}


section.response_wrap_container {
    min-height: 400px;
    border: 1px solid transparent;
    background-color: transparent;
}

.response_container {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 16px;
}

.fld-row {
    width: 100%;
    display: inline-block;
}

.fld-row .fld {
    margin-bottom: 0;
}


#form_response {
    display: inline-block;
    box-shadow: 6px 6px 20px;
    border: 1px solid #fff;
    overflow: hidden;
    width: 100%;
}

p.loading {
    display: inline-block;
    padding: 20px 4em;
    font-size: 2em;
    margin-top: 2em;
}

/*  Tabla */
td, th {
    padding: 1px 8px;
    white-space: nowrap;
    color: #015aaa;
    font-size:13px;
}

/* COLORES - NORMALES */
tr.btn-info th {
    background-color: transparent;
    color: #fff;
    padding: 0;
}

tr.btn-info th p {
    background-color: #015aaa;
    color: #fff;
    margin: 0 0 2px;
    padding: 4px 8px;
}


tr td, tr th {
    background-color: #eee;
}

tr.par td {
    background-color: #d9d9f0;
}


/* COLORES - COLUMNA PAR */
tr td.par, tr th.par {
    background-color: #ffcc88;
}

tr.par td.par {
    background-color: #e5b77a;
}



/* COLORES - COLUMNA IMPAR */
tr td.impar, tr th.impar {
    background-color: #ffdd99;
}

tr.par td.impar {
    background-color: #e5c689;
}

/*  HOVER */
tr.hover td, tr.hover td.par, tr.hover td.impar {
    background-color: #444;
    color: #fff;
}

tr td.hover, tr th.hover, tr.par td.hover, tr.par th.hover, tr.impar td.hover, tr.impar th.hover {
    background-color: #666;
    color: #fff;
}

tr.impar td.hover, tr.impar th.hover {
    background-color: #888;
    color: #fff;
}


tr.hover td.hover {
    background-color: #000;
    color: #fff;
}


.navbar-brand {
    background-image: url(/Content/Comseg/Images/logo_c_250x60.jpg);
    display: block;
    width: 250px;
    height: 40px;
    text-indent: 1000px;
    overflow: hidden;
    padding:0;
}

.LoginLayout .navbar-brand {
    margin-top: 18px;
}


.navbar-user {
    float: right;
    display: block;
    height: 40px;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.navbar-user span {
    line-height: 40px;
    display: block;
    height: 35px;
    margin-top: 0px;
    float: left;
    font-size: 20px;
    margin-right: 10px;
}
.navbar-user i {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(/Content/Comseg/Images/usuario.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 100%;
    padding: 3px;
    background-color: #ddd;
}


.LoginLayout header {
    position: relative;
    height: 55px;
    display:inline-block;
    width:100%;
    text-align:center;
}

.LoginLayout .body-content {
    padding: 0;
    margin-top: 111px;
    max-width: 400px;
    border: 1px solid #ced4da ;
    height:450px;
    position:relative;
    display:block;
    background-color:#fff;
}
.LoginLayout  .body-content section {
    padding: 24px;
    display: inline-block;
    width: 100%;
    margin:0;
    border:0 none;
}

.LoginLayout .row {
    margin: 0;
}

.LoginLayout .form-horizontal .form-group {
    margin:0 0 15px;

}

.LoginLayout footer {
    margin-top:59px;
}

@media screen and (max-width: 770px) {
    .LoginLayout {
        background-color: #fff;
    }

    .LoginLayout .body-content {
        margin-top: 0;
        height: 100%;
        border: 0 none;
    }

    .LoginLayout footer {
        position: fixed;
        bottom: 0;
    }

    .navbar-user span {
        display: none;
    }

    .navbar-user i {
        margin-right: 0px;
    }

    .navbar-brand {
        background-position: -18px 0px;
        width: 220px;
    }

    .LoginLayout .navbar-brand {
        background-position: 0 0px;
        width: 250px;
    }

    .navbar-in-header {
        display: none;
    }

    .navbar-user-menu {
        display: block;
    }

}


/*   Iconos */
.icon-carpeta {
    background:url(/Content/carpeta.png) 0 0 no-repeat transparent ;
    display:inline-block;
    min-width:24px;
    height:24px;
    line-height:24px;
    padding-left:30px;
}

img.icon-user {
    display:inline-block;
    width:26px;
    height:26px;
}

/* */
.chosen-container-single {
    margin-top:6px;
}

.chosen-container-multi {
    margin-top: 3px;
}
/*  */
.restore-fullscreen {
    display: none;
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 1000;
    border: 1px solid #fff;
    box-shadow: 0px 6px 10px rgba(0,0,0,0.3);
}
.fullscreen .restore-fullscreen {
    display: inline-block;
}

.fullscreen {
    padding: 16px;
}
.fullscreen .body-content {
    padding:0;
}
    
    
.fullscreen header,
.fullscreen .navbar,
.fullscreen footer,
.fullscreen section.form-fields {
    display: none;
}

/*  Resumen de tabla */
.table_with-resumen {
    display: inline-block;
}


.table-container .table_with-resumen {
    float: left;
    display: block;
    float: left;
    overflow: hidden;
    overflow-x: auto;
}

.table-container .table-resumen {
    display: block;
    width: 400px;
    height: 100%;
    float:right;
    overflow:hidden;
}

.table-resumen-toolbar {
    background-color: #efefef ;
    display:block;
    width:100%;
    height:30px;
    padding:4px 0;
    margin-bottom:16px;
}

.table-resumen-content {
    display: block;
    width: 100%;
}

tr.totales td {
    background-color: #015aaa;
    color:#fff;
    padding:4px 8px;
    font-size:14px;
}

.ECommerce {
    display: inline-block;
    width: 240px;
    height: 40px;
    line-height: 40px;
}

.ECommerce select {
    display: inline-block;
    width: 100%;
}